[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyqt6 = "*"
pyqt6-charts = "*"
numpy = "*"
websockets = "*"
boto3 = "*"
python-dotenv = "*"
darkdetect = "*"

[dev-packages]
pyinstaller = "*"
pycodestyle = "*"
autopep8 = "*"

[requires]
python_version = "3.10"
