[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyqt6 = "*"
pyqt6-charts = "*"
numpy = "*"
websockets = "*"
boto3 = "*"
python-dotenv = "*"
asyncio = "*"

[dev-packages]
black = "*"
pyinstaller = "*"

[requires]
python_version = "3.10"
